<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>627180240071-nk6e149fgl4e78727mjj20rm1ltdjliu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627180240071-nk6e149fgl4e78727mjj20rm1ltdjliu</string>
	<key>API_KEY</key>
	<string>AIzaSyBtIyXrkT0azyy93eHaxpFvRyJxODuxcGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>627180240071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KyleBlazier.Xercise</string>
	<key>PROJECT_ID</key>
	<string>xercise-fitness</string>
	<key>STORAGE_BUCKET</key>
	<string>xercise-fitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:627180240071:ios:28b50c039de68607</string>
	<key>DATABASE_URL</key>
	<string>https://xercise-fitness.firebaseio.com</string>
</dict>
</plist>